<div class="logged-in-page">
    <header>
        <div class="header-logged-container">
            <div class="menu">
                <div class="nav-bar">
                    <ul>
                        <li><a href="/logged"><img src="/public/img/if_Asset_23_2342209.png" align="left" height="35">Home</a></li>
                        <li><a href="/logged"><img src="/public/img/if_Asset_20_2342730.png" align="left" height="35">Browse</a></li>
                    </ul>
                </div>
                <div class="middle-nav-bar">
                    <a href="/logged"><img src="/public/img/if_Asset_20_2342730.png" align="left" height="35">Log Out</a>
                </div>           
            </div>
        </div>
    </header>
</div>