<nav class="navbar fixed-top navbar-expand-lg navbar-dark " id="header-logged-container">
    <div class="container-fluid">
        <a class= "navbar-brand" href="#"><img src="/public/img/Spotify_Icon_RGB_Green.png" height="45">Webify</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsedNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="collapsedNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#"><img src="/public/img/if_Asset_23_2342209.png" height="35">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"><img src="/public/img/if_Asset_20_2342730.png" height="35">Browse</a>
                    <div class="dropdown-menu" data-target="#navbarDropdown" id="header-logged-container">
                        <a class="dropdown-item" href="/UsTop50">United States Top 50</a>
                        <a class="dropdown-item" href="#">Global Top 50</a>
                        <a class="dropdown-item" href="#">Global Viral 50</a>
                        <a class="dropdown-item" href="#">United States Viral 50</a>
                    </div>                    
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><img src="/public/img/if_Asset_23_2342209.png" height="35">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid margin-playlists">
    <div class="row">
        <div class="col-2">
            <div class="card border-success text-white" style="background-color: black">
                <img class="card-img-top" src="/public/img/wallpaper1.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h3 class="card-text">Some quick</h3>
                </div>
            </div>
            <iframe src="https://open.spotify.com/embed/track/4XOuT4tFDIYEfh61ra53oQ" width="259" height="75" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
    </div>    
</div>
